altgraph
appdirs
attrs
boto
boto3
botocore
certifi
chardet
Click
cycler
docutils
easygui
Flask
funcy
future
gensim
idna
importlib-metadata
itsdangerous
Jinja2
jmespath
joblib
kiwisolver
lxml
macholib
MarkupSafe
matplotlib
more-itertools
nltk
numexpr
numpy==1.19.3
osnap
packaging
pandas
pdfminer.six
plotly
pluggy
psutil
py
pycryptodome
PyFladesk
PyInstaller
pyLDAvis
pyparsing
PyQt5
PyQt5-sip
PyQtWebEngine
pytest
python-dateutil
pytz
regex
requests
retrying
s3transfer
scipy
six
smart-open
sortedcontainers
tk
urllib3
wcwidth
Werkzeug
whichcraft
zipfile2
zipp
