:root {
  --info-panel-width: 25%;
  --current-info-panel-width: 300px;
  --cy-height: 550px;
  --bg-light-color: #E0D8CB;
  --bg-app: white;
  --bg-boxes: #F9F9F9;
  --bg-color: #e6e8e6;
  --bg-color-light: #EFEBE5;
  --bg-tool-light: #F4EBCC;
  --bg-color-hover: #F9F9F9;
  --tool-color: #C38391;
  --diagram-color: #898989;
  --tool-color-hover: #b56576;
  --data-color: #2E9D99;
  --data-color-hover: #288986;
  --dark-font: #273746;
  --parms-color: white;
  --running: #7CD775;
  --error: white;
}
:disabled{
  opacity: 0.6;
}
.disable-elem{
  opacity: 0.25;
  pointer-events: none;
}
.to-do-style{
  color: #ff3b3b!important;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.group{
  border-left: double 6px white!important;
}


.not-active {
  pointer-events: none;
}

button,a { cursor: pointer; }
button:hover{
  opacity: 1!important;
  outline:0!important;
}
button:focus{
  outline:0!important;
}
select {
  background-color: var(--diagram-color);
  color: white;
  border: none;
  border-bottom: dotted 2px;
}
input{
  background-color: var(--diagram-color);
  border: none;
  border-bottom: dotted 2px white;
  color: white;
}
::placeholder {
  color: white;
  opacity: 0.7;
}
textarea{
  background-color: var(--diagram-color);
  color: white;
  min-height:10px;
  border: none;
}

input:focus{
  outline:0!important;
}
textarea:focus{
  outline:0!important;
}
select:focus{
  outline:0!important;
}

body {
  background-color: var(--bg-app);
  font-family: "Noto Sans", sans-serif;
  font-weight: 320;
}

/*level(2) of the layout*/

#gui{
  width:100%;
}
#left{
  position:absolute;
  width: 350px;
  margin-left: 20px;
}
#right{
  position:absolute;
  left: 350px;
  min-width: 900px;
  width: 65%;
}


/*level(3) of the layout*/


#control{
  position: relative;
  margin-top: 120px;
  left: 20px;
  width: 100%;
  min-width: 300px;
  vertical-align: top;
  display: inline-block;
  min-height: 300px;
  position: relative;
  z-index: 1000;
  border-radius: 10px 15px 15px 10px;
  background-color: var(--diagram-color);
}
#control.diagram{
  background-color: var(--diagram-color);
}
#control.diagram input{
  background-color: var(--diagram-color);
}
#control.diagram textarea{
  background-color: var(--diagram-color);
}
#control.tool{
  background-color: var(--tool-color-hover);
}
#control.tool input{
  background-color: var(--tool-color-hover);
}
#control.tool select{
  background-color: var(--tool-color-hover);
}
#control.data{
  background-color: var(--data-color-hover);
}
#control.data input{
  background-color: var(--data-color-hover);
}
#control.data select{
  background-color: var(--data-color-hover);
}
#control label{
  color: white;
}
#control input{
  border-radius: px;
}

/*
DIAGRAM TOP
*/

#gui_top{
  position: relative;
  margin-bottom: 30px;
  height: fit-content;
  width: 100%;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 0px;
  display: inline-block;
  max-height: 50px;
}
.corner-box{
  position: absolute;
  padding-left: 50px;
  min-width: 300px;
  width: var(--info-panel-width);
  height: 100%;
  display: inline-block;
  cursor: none;
  visibility: hidden;
}

#diagram_editor{
  min-width: 850px;
  min-height: 40px;
  vertical-align: bottom;
}
#diagram_elems{
  vertical-align: bottom;
  display: inline-block;
}
#diagram_elems button{
  font-size: 12pt;
}
#diagram_elems button#add_tool{
  border: var(--tool-color);
  background-color: var(--tool-color);
  color: white;
  font-weight: 340pt;
  height:45px;
}
#diagram_elems button svg{
  width: 25pt;
  height: 70%;
  padding-right: 5px;
  vertical-align: top;
}
#diagram_elems button#add_tool:hover{
  background-color: var(--tool-color-hover)!important;
}

#diagram_elems button#add_data{
  border: var(--data-color);
  background-color: var(--data-color);
  color: white;
  font-weight: 340pt;
  height:45px;
}
#diagram_elems button#add_data:hover{
  background-color: var(--data-color-hover);
}


#diagram_view{
  margin-top: 10px;
  width: 300px;
  min-width: 300px;
  vertical-align: bottom;
  display: inline-block;
  background-color: var(--bg-color);
  border-radius: 5px;
  text-align: center;
  border: solid 1px lightgray;
}

#diagram_view .comp{
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  font-size: 13pt;
  vertical-align: bottom;
}
#diagram_view .comp *{
  background: none;
  border: none;
  color: black;
}
#diagram_view .comp *:focus{
  background: none;
  border: none;
  outline:0;
}
#diagram_view .comp#diagram_zoom{
  display: none;
}

#diagram_view .comp#remove_elem{
  position: absolute;
  right: calc(0px + 3%);
  top: calc(var(--cy-height) + 25px);
  z-index: 1000;
  display: none;
  background-color: var(--bg-color);
  border: solid 2px lightgray;
}
#diagram_view .comp#remove_elem:hover{
  background-color: var(--bg-color-hover);
}
#diagram_view .comp#remove_elem *{
  vertical-align: middle;
  opacity: 0.9;
  color: black;
}

#general{
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-top: 3px;
}
#general button{
  font-size: 13pt;
}
#general .comp{
  height:45px;
  font-size: 12pt;
  vertical-align: bottom;
}
#general .comp#list_options_trigger{
  background-color: var(--bg-color);
  border: none;
  color: black;
  width: 40px;
  border: solid 1px lightgray;
}
#general .comp#list_options_trigger:hover{
  background-color: var(--bg-color-hover);
}
#general button#btn_run_workflow{
  font-weight: 340;
  background-color: var(--bg-color);
  border: solid 1px lightgray;
  color: black;
  height:45px;
  width: 150px;
}
#general button#btn_run_workflow svg{
  width: 25px;
  height: 25px;
  padding-right: 5px;
  vertical-align: top;
}
#general button#btn_run_workflow:hover{
  background-color: var(--bg-color-hover)!important;
}
.navbar-toggle{
  display: block;
}
.badge-notification{
    position: absolute;
    top: 25px;
    right: 0px;
    padding: 1px 1px;
    border-radius: 50%;
    background: #ff3b3b;
    width: 20px;
    height: 20px;
    display: none;
}
#list_options{
  margin-top: 1px;
  position: absolute;
  display: none;
  z-index: 1000;
  background-color: var(--bg-color);
  min-width: 250px;
  border-radius: 10px 10px 10px 10px;
  border: solid 2px lightgray;
  right: 3%;
  margin-top: 20px;
}
#list_options button{
  vertical-align: middle;
  font-size: 12pt;
  font-weight: 340;
  display: block;
  width: 98%;
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 5px;
  background-color: var(--bg-color);
  border: none;
  border-bottom: dotted 1.5px white;
  color: black;
}
#list_options button:hover{
  border-bottom: solid 1.5px gray;
  background-color: var(--bg-color-hover);
}
#list_options a{
  font-size: 14pt;
  display: block;
  width: 100%;
  text-align: center;
}

/*
------------------------
*/

#gui_middle{
  width: 100%;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#gui_middle #cy{
  padding-left: 30px;
  display: inline-block;
  border-radius: 5px;
  border: solid 2px lightgray;
  height: var(--cy-height);
  z-index: 999;
  width: 100%;
  min-width: 850px;
  background-color: var(--bg-boxes);
}

/*
------------------------
*/

#gui_bottom{
  width: 100%;
}
/*
------------------------
*/

label{
  font-weight: 500;
}

.check-value input{
  margin-left: 10px;
  margin-right: 10px;
}

#control_body{
  padding-top: 20px;
  width: 100%;
  padding-bottom: 20px;
  opacity: 1;
}
#control_mid{
  max-height: 400px;
  transition: max-height 0.5s;
  overflow: auto;
}
#control_mid .elem-logo{
  font-size: 16pt;
  float: right;
  margin-right: 10px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 7px;
  background-color: rgba(250,250,250,0.2);
}
#control_mid .elem-logo svg{
  vertical-align: middle;
}
#control_mid .control-params{
  width: 100%;
  margin-top: 20px;
  font-size: small;
}
#control_mid .control-params .input-group{
  padding-top: 15px;
  border-left: solid 2px var(--parms-color);
}
#control_mid .control-params .input-group + .input-group{
}
#control_mid .info-box{
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px;
  padding-left: 5px;
  width: 80%;
  border-radius: 7px;
  color: white;
  background-color: rgba(250,250,250,0.2);
  text-align: center;
}
#control_mid .info-box .title{
  font-size:120%;
  margin-bottom: 5px;
}
#control_mid .info-box button{
  width: fit-content;
  background-color: transparent!important;
  border: none;
  opacity: 0.8;
  font-size: 12pt;
}
#control_mid .info-box .content{
  margin-top: 10px;
  text-align: left;
}

#control_foot{
  text-align: right;
  vertical-align: bottom;
  padding-top: 15%;
  padding-right: 10px;
  width: 100%;
  display: none;
}
#control_foot .foot-dom{
  display:inline-block;
}
#control_foot button{
  font-size: 12pt;
}
#control_foot .btn-edit{
  padding-right: 10px;
}
#control_foot button:hover{
 color: var(--bg-color);
}

.input-group{
  font-size:120%;
  margin-left: 20px;
  padding-left: 5px;
  width: 80%;
}
.input-group
select, .dropdown-toggle{
  width: calc(100% - 10px);
}
.input-group
.param-att.custom-select{
  width: calc(100% - 50%);
}
.input-group input {
  width: calc(100%);
}
.input-group input[type="checkbox"]{
  width: auto;
  margin-left: 0px;
}

.input-group + .input-group{
  padding-top: 10px;
}
.control-params .input-group{
  padding-top: 5px;
  padding-bottom: 8px;
}

.input-text-large textarea{
  min-height: 100px;
  resize: none;
  width: 100%;
}
.input-text-group{
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
.input-text-group .input-group-prepend{
  display: none;
}
.input-text-group table {
  color: white;
  border-collapse: separate;
  border-spacing: 0 10px;
  table-layout: auto;
}
.input-text-group table td{
  padding-bottom: 25px;
  border-left: solid 2px white;
  padding-left: 5px;
}
.input-text-group table tr{
}
.input-text-group table td:last-child {
 display: table-cell;
 border-bottom: none;
 border-left: none!important;
}
.input-text-group table td:last-child button{
  font-size: 16pt;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 7px;
  opacity: 0.85;
  color: black;
  font-weight: 500;
  margin-top: 50%;
  margin-left: 50%;
}
.input-text-group table td:last-child button.del_att_regex{
}



#edit_buttons{
  padding-left: 10%;
}
.edit-switch{
  margin-bottom: 30px;
}

#cy_foot{
  width: 70%;
  height: 60px;
  float: left;
  top: 530px;
  left: 350px;
}


.timeline-block{
  display:inline-block;
  margin: 0 auto;
  font-size: 20px;
  vertical-align: middle;
  padding-top: 100px;

}
.timeline-block-inner, .timeline-block-inner-text{
  display:inline-block;
  min-width:55px;
  min-height:50px;
  max-width:350px;
  max-height:50px;
  vertical-align: middle;
  border-radius: 5px;
  margin-right:3px;
}
.timeline-block-inner.tool-block{
  background-color: var(--tool-color);
}
.timeline-block-inner.data-block{
  background-color: var(--data-color);
}
.timeline-block-inner.text-block{
  border: none;
}
.timeline-block-inner.text-block label{
  padding-top: 15px;
  padding-left: 10px;
  font-weight: 520;
  font-size: 14pt;
}

.timeline-block-inner .inner-timeline-block {
  vertical-align: middle;
  font-size: 250%;
  text-align: center;
  margin-top: 5px;
}
.timeline-block-inner .inner-timeline-block a{
 color: white;
}
.timeline-block-inner .inner-timeline-block a:hover,
.timeline-block-inner .inner-timeline-block a:focus {
  border-bottom: transparent;
}


.timeline-block-inner.error-block{
  background-color: #b32d00;
}
#timeline_container{
  position: absolute;
  display:inline-block;
  min-height: 50px;
  margin-left:10px;
}

#timeline_container .timeline-block{
  padding-top: 20px;
}
.timeline-block + .timeline-block{
  margin-left: 10px;
}
#timeline_text{
  opacity: 0.4;
}

#workflow_extra{
  top: 70px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  position:absolute;
  width: 350px;
  min-height: 50px;
  border-bottom: #917442 solid 4px;
  margin-bottom: 20px;
  visibility: hidden;
}
#workflow_extra .input-group{
  padding-left: 0px;
}
#workflow_extra .input-group + .input-group{
  bottom: 10px;
}
.workflow-section-foot{
  padding-top: 15px;
  margin: 0 auto;
  float:right;
}


.node-style{
  border: transparent;
}
.node-style-click{
  background-color: black;
}

#control_nav {
    /*border-top: solid 1px;*/

    height: fit-content;
}
#control_nav li {
  display:inline-block;
}
#control_nav li.active{
  z-index: 20;
  opacity: 1;
}
#control_nav li a{
  background-color: var(--bg-light-color);
  color: var(--dark-font);
  border-radius: 5px 5px 0px 0px;
  font-weight: 350;
  font-size: 14pt;
  z-index: 1;
  font-weight: 300;
  opacity: 0.7;
}
#control_nav > .active > a,
#control_nav > .active > a:hover,
#control_nav > .active > a:focus {
  margin-bottom: 25px;
  opacity: 1;
}




ul + label{
  margin-left: 8px;
  padding-top: 10px;
}
#lbl_filePath{
  font-size: 11pt;
  width: 140px;
}




.dropdown{
  max-width: 250px;
  min-width: 200px;
}

.timeline-block-inner .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--bg-color);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: 105%;
  z-index: 1;
}

.timeline-block-inner:hover .tooltiptext {
  visibility: visible;
}


/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 851px;
    min-height: 100px;
    vertical-align: middle;
    width: 80%;
    position: relative;
    border-radius: 8px;
    padding: 10px;
}
.hover_bkgr_fricc p{
  padding-top: 15px;
  font-size: 14pt;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 32px;
    height: 32px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
/* Popup box BEGIN */

/* Loading icon */
/* <div class="lds"><div></div><div></div><div></div></div>*/
.lds {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


@media only screen and (max-width: 1300px) {

}
