<!DOCTYPE html>
<html>
  <head>
    <title>MITAO</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/index.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/release.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/lightbox.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
    <script src="{{ url_for('.static', filename='js/jquery2-2-4.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='cytoscape/dist/cytoscape.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/lodash.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/lightbox.js') }}"></script>

    <script>
      var port = "{{port}}";
      var listening_port = parseInt(port) + 1;
      var type = "{{type}}";
      if (type == "window"){
        document.addEventListener('DOMContentLoaded', function() {
            var url = 'http://127.0.0.1:'+listening_port.toString()+'/GUI-is-still-open';
            //fetch(url, { mode: 'no-cors'});
            setInterval(function(){ fetch(url, { mode: 'no-cors'});}, 1500)();
        });
      }

      function beforeunload_fun(e) {
        console.log("Closing!");
        e.preventDefault();
        $.get("/shutdown").always(function() {
          window.close();
        });
      }
      window.addEventListener('beforeunload', beforeunload_fun);

    </script>

  </head>

  <body>

      <div class="hover_bkgr_fricc">
          <span class="helper"></span>
          <div>
              <div class="popupCloseButton">&times;</div>
              <div class="content">
              </div>
          </div>
      </div>

      <div id="gui">

        <div id="left">
          <div id="control">
            <div id="control_body"></div>
          </div>
        </div>

        <div id="place_holder"></div>
        <div id="right">
          <div id="gui_top">

              <div class="corner-box not-active">
                <ul id="control_nav" class="nav control-nav">
                  <li id="nav_overview" class="nav-btn"><a id="nav_overview_a">Diagram</a></li>
                  <li id="nav_info" class="nav-btn"><a id="nav_info_a">Elements</a></li>
                </ul>
              </div>

              <div id="diagram_editor">

                <div id="diagram_view" class="noselect">
                  <div id="diagram_undo_redo" class="comp">
                    <!--<span class="nav-btn"><a id="undo_btn" >&#8404;</a></span>
                    <span class="nav-btn"><a id="redo_btn" >&#8405;</a></span>-->
                    <span class="nav-btn"><button type="button" id="undo_btn">Undo</button></span>
                    <span class="nav-btn"><button type="button" id="redo_btn">Redo</button></span>
                  </div>
                  <div id="diagram_fit" class="comp"><button type="button" id="fit_btn" >&#10070; Fit diagram</button></div>
                  <div id="diagram_zoom" class="comp">
                    <span class="nav-btn"><a id="zoom_in_btn" >&#43;</a></span>
                    <span class="nav-btn"><a id="zoom_out_btn" >&#8722;</a></span>
                  </div>
                  <div id="remove_elem" class="comp inner">
                    <button type="button" id="remove_elem_btn" >
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                    </svg> Remove element</button>
                  </div>
                </div>

                <div id="general" class="noselect">
                <span>
                  <div id="diagram_elems" class="">
                    <span class="comp"><button id="add_tool" type="button" class="btn btn-warning"><svg class="bi bi-tools" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z"/>
                      <path fill-rule="evenodd" d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
                    </svg>Add Tool</button></span>
                      <span class="comp"><button id="add_data" type="button" class="btn btn-info"><svg class="bi bi-archive-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM6 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                    </svg>Add Data</button></span>
                  </div>
                </span>

                <span class="comp">
                  <button id="btn_run_workflow" type="button" value="ready" class="btn btn-default"><svg class="bi bi-play-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                  </svg>Run workflow</button>
                </span>


                <button id="list_options_trigger" type="button" class="btn btn-default comp">
                  <svg class="bi bi-three-dots" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3z" clip-rule="evenodd"/>
                  </svg>
                  <span id="badge_notification" class="badge-notification"></span>
                </button>
                <div id="list_options">
                        <button id="btn_update_tool" type="button" value="update" class="btn btn-default">Update MITAO</button>
                        <button id="btn_save_workflow" type="button" value="save" class="btn btn-default">Save</button>
                        <a id="btn_save_workflow_a" href="/download/workflow" value="save" style="display:none;" target="_blank" download></a>
                        <button id="btn_load_workflow" type="button" value="load" class="btn btn-default">Open</button>
                        <input id="file_to_load" type="file" style="display: none;"/>
                        <button id="btn_help_tool" type="button" value="help" class="btn btn-default">Help</button>
                        <button id="shutdown_btn" type="button" value="shutdown" class="btn btn-default">Shutdown</button>
                </div>

              </div>

              </div>
          </div>

          <div id="gui_middle">
              <div id="cy"></div>
          </div>

          <div id="gui_bottom">
            <div id="workflow_timeline">
            <div id="timeline_container" class="timeline-container">
              <div id="start_block" class="timeline-block"></div>
              <!--<div id="timeline_text" class="timeline-block">Workflow timeline ...</div>-->
              <div id="end_block" class="timeline-block" style="visibility: hidden;"></div>
            </div>
          </div>
            <div id="workflow_extra"></div>
          </div>
        </div>
    </div>
    <!--config file-->
    <!--<script type="text/javascript" src="/src/js/config.json"></script>-->
    <!--the interface class to include-->
    <script src="{{ url_for('.static', filename='js/interface.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/diagram.js') }}"></script>
    <!--cytoscape-->
    <script src="{{ url_for('.static', filename='js/cytoscape-edgehandles.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/cytoscape-undo-redo.js') }}"></script>
    <!-- The main script and the configuration loader-->
    <!--<script src="{{ url_for('.static', filename='js/__remote__config_loader.js') }}"></script>-->
    <script>
    var config = "{{config}}";
    var workflow = "{{workflow}}";
    </script>
    <script src="{{ url_for('.static', filename='js/main.js') }}"></script>

  </body>

</html>
